{% extends "templates/layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<img src="/images/logo.svg" width="160">
			<h1>Revive Foods</h1>
			<p>
				We fight food waste by recovering and repurposing edible surplus produce across the food supply chain. 
			</p>
			<h2>#wastenot</h2>
			<p>Revive Foods is a mission-driven food company dedicated to eliminating food waste by recovering and repurposing edible surplus produce across the food supply chain.<br> <br>

			We focus on recovering surplus fruit  - often cosmetically challenged, overripe or bruised but perfectly edible - that would otherwise be wasted to create delicious, healthier and more affordable food products, starting with jam.<br> <br>  

			We envision a food system that maximizes all our resources - beginning on the farm and ending on your plate, and a world where our company's mission becomes the norm, and not the exception.</p>
			<hr>
			{% if user and user.canAccessKeystone %}
				<p>
					<a href="/keystone" class="btn btn-lg btn-primary">Open the Admin UI</a>
				</p>
			{% else %}
				<p>
					<a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a>
					to use the Admin UI.
				</p>
			{% endif %}
			<hr>
		</div>
	</div>
{% endblock %}
